/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

th, td{
  border: 2px solid black;
  text-align: center;
  width: 25%;
  height: 25%;
  padding: 25px;
}

table {
  width: 90%;
  height: 50%;
}
